@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family:  "微软雅黑" ;
}
body{
	min-height: 110vh;
	background-image: linear-gradient(#cac6c5,#ffffff);
}

.table1{
	border-collapse:collapse;
	margin: auto;
	width: 90%;
	border: 1px solid black;
	
}

.table1 td{
	text-align:center;
	margin-top: 5px;
	padding: 5px;
}
.table1 tr:nth-child(even){
	background: #9c9694;
}


.select{
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);	

}
.select a{
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
	
.passage{
	padding: 14px 16px;
	text-align: center;
}

.passage a{
	font-size: 18px;
	font-weight: bold;
	color: #544533;
	border-style: solid double;
	border-color: #909090 ;
}



.passage a:hover {
	color: #aaffff;
}

